{% load static %}
		<!--<div class="innercontainer">
			<ul class="flist">
				<li class="box">Tuesday,may 13</li>
				<li class="box2">login</li>
				<li class="box2">blog</li>
				</li>
			</ul>
			<div style="float:right">
				<img src="{% static '' %}img/yy.jpg" width="25" height="30"/>
				<img src="{% static '' %}img/8.jpg" width="23" height="27"/>
				<img src="{% static '' %}img/78.jpg" width="23" height="26"/>
				<img src="{% static '' %}img/89.jpg" width="22" height="25"/>
			</div>
		</div>-->
    <div class="abc">
				<div class="abc1"></div>
				<div class="abc2">
					<img src="ann.jpg" width="170" height="70" hspace="10" vspace="5"/>
				</div>
				<div class="abc3">
                    <ul class="menus">
	      <li>
	      <a href="{% url 'hm' %}">HOME</a>
		  </li>

		   <li>
		      <a href="{% url 'sports' %}">Material</a>
		  </li>
				  <li>
				      <a href="{% url 'lifestyle' %}">Updates</a>
				  </li>
			 <li>
				    <a href="{% url 'world' %}">Q/A</a>
				  </li>
				  <li>
				      <a href="{% url 'politics' %}">Education</a>
				  </li>
            <li>
				      <a href="{% url 'entertainment' %}">Contact</a>
				  </li>

            <li>
				      <a href="{% url 'technology' %}">About us</a>
				  </li>
		     </ul>

		</div>
</div>